:host {
  display: flex;
  flex-direction: column;
}

section#add-product .main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#add-product .column {
  flex: 50%;
}

section#add-product .mat-card-title {
  margin-bottom: 30px;
}

section#add-product .button-container {
  margin-top: 15px;
}

section#add-product .button-container .mat-stroked-button:not(:first-of-type) {
  margin-left: 15px;
}
